  .two-columns__paragraph {
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    margin: 0;
    padding: 0;
  }
  .two-columns__paragraph:nth-last-of-type(2) {
    margin-top: 30px;
    margin-bottom: 30px;
  }